*/*.pyc
*.pyc
core/__pycache__/cli_parser.cpython-313.pyc
core/__pycache__/command_logic.cpython-313.pyc
core/__pycache__/git_logic.cpython-313.pyc
core/__pycache__/logger.cpython-313.pyc
*__pycache__
*__pycache__/*
build/GitAutomator/Analysis-00.toc
build/GitAutomator/base_library.zip
build/GitAutomator/EXE-00.toc
build/GitAutomator/GitAutomator.pkg
build/GitAutomator/PKG-00.toc
build/GitAutomator/PYZ-00.pyz
build/GitAutomator/PYZ-00.toc
build/GitAutomator/warn-GitAutomator.txt
build/GitAutomator/xref-GitAutomator.html
dist/GitAutomator
GitAutomator.spec
